<!DOCTYPE html>
<html>
<head>
  <title>Msafe</title>
  <!--script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript">
  </script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBFavoQ-TL4TuoxVemjogjoRLQCVtFW-w"></script>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">
<%= yield %>
</div>

</body>


</html>
